@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main {
    min-height:100vh;
    background-color: #decbb7;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23433633' fill-opacity='0.09'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Lato', sans-serif;
}
header {
    padding:1rem;
    text-align: center;
}
header h1 {
    font-size: 3rem;
    color:#433633;
    letter-spacing: 2px;
}
.palette-container {
    padding:1rem;
    margin-top:2rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:1.2rem;
}
.color-card {
    padding:1rem;
    background-color: #ffffff;
    border-radius: 10px;
    height: 350px;
    transition:ease-out 0.3s;
    
}
.color-card:hover {
    transform: scale(1.03);
}
.color {
    width:100%;
    height:90%;
    position:relative;
   
}
.color-card p{
    height:10%;
    text-align: center;
    padding:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    letter-spacing:2px;
}
.generate-container {
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    position: relative;
}
.generate-container::after {
    content:"Or just press the spacebar to generate new palettes.";
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    bottom: -5px;
    color:#23231A;
  
}
#generate {
    padding:0.8rem 1rem;
    width:30%;
    cursor: pointer;
    outline:none;
    border:none;
    border-radius: 4px;
    background-color: #7D82B8;
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing:2px;
    transition:ease-out 0.3s
}
#generate:hover {
   background:#7B4B94;
   transform: scale(1.1);
}

.fa-copy {
    position:absolute;
    right:10px;
    top:10px;
    opacity:0.5;
    cursor: pointer;
    transition:ease-out 0.2s;
}
.fa-copy:hover {
    opacity: 1;
}

.popup {
    background: #7B4B94;
    width: 50%;
    margin: 0 auto;
    padding:0.8rem;
    border-radius: 10px;
    display: flex;
    justify-content:center;
    align-items:center;
    position:relative;
    display: none;
    transform: translateY(-100%);
    transition:ease-out 0.3s;
    text-align: center;
}
.fa-times {
    position:absolute;
    top: 5px;
    right:5px;
    cursor: pointer; 
}







@media only screen and (max-width:850px) {
    .color-card {
        height:300px;
    }
    
}
@media only screen and (max-width:750px) {
    header h1 {
        font-size: 2rem;
    }
   .palette-container {
       margin-top: 1rem;
       grid-template-columns: repeat(2,1fr);
       justify-items: center;
   }
   .color-card {
         width: 100%;
         height:200px;
}
#generate {
    width:60%;
}
.generate-container::after {
    display:none;
}
.popup {
    width:80%;
}
}